{% load static i18n %}

<div class="m-b-1">
    <nav class="navbar navbar-dark navbar-expand-md">
        <div class="container p-0">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="{% static 'images/favicon-1024.png' %}" width="30" height="30" alt=""></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="col-md-10 p-0">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
